<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home - FriendList</title>
  <link rel="stylesheet" href="CSS/index.css">
  <link rel="stylesheet" href="public/javascripts/script.js">
</head>

<body style="margin:0; padding: 0; background-color: black; color: white;">
  <div class="navbar">
    <a href="index.html"><img src="Picture/Valo.jpeg" alt="logo" width="50px" height="50px"></a>

    <div class="tombol">
      <a href="index.html">Home</a>
      <a href="Teams.html">Teams</a>
      <a href="Schedule.html">Schedule</a>
      <a href="https://discord.gg/JQ87XBkq">Discord</a>
    </div>

    <div class="sosmed">
      <a href="https://www.instagram.com/istesa.itbss/p/C3jueuzuyZD/"><img src="Picture/Instagram.png" alt="Instagram" width="20px" height="20px"></a>
      <a href="https://www.youtube.com/@istesaitbss"><img src="Picture/youtube.png" alt="Youtube" width="25px" height="20px"></a>
    </div>
   
  </div>

  <div class="t-1">
    <h1>Welcome to Valorant ITBSS Esport</h1>
    <p class="t-1-1">"Welcome to ITBSS Valorant Devision. We are the ITBSS Valorant Team, digital warriors ready to face challenges and seize victory. Together, we prove that teamwork and skill are the ultimate keys to triumph. Join us on this journey, where every match is a step towards glory!".</p>
      
    <div class="about">
      <p class="about-logo">
        <img src="Picture/Valo.jpeg" alt="logo" width="80%" height="80%">
      </p>

      <div class="about-text">
        <h1>Welcome to FriendList!</h1>
        <div class="about-isi"><p><b style="color:lightblue">FriendList</b> is a media portal dedicated to promoting gaming culture and Valorant esport competitions among students.</p> 
        It provides a variety of information about valorant esport at the ITBSS campus, focusing on reporting varius events, tournament updates, team profile, and more.
        </div>
      </div>
  </div>  
  
  <div class="visi-misi">
    <p>
    <h1>FRIENDLIST <div class="visi">VISION</div></h1>
      <div class="visi-1"><br>To be the primary source of information and promotion for Valorant esport activaties among students at the ITBSS campus.
      </div>
    </p>
    <p>
      <h1>FRIENDLIST <div class="misi">MISSION</div></h1>
      <div class="misi-1">
        1. Providing up-to-date information about Valorant esport tournaments, events, and news within the campus environment.
    <br>2. Supporting the coaching and development of student Valorant teams through team profile, match analysis, and other means.
        3. Offering information on joining the Valorant esport community at the ITBSS campus.
      </div>
    </p>
  </div>
</div>

<hr>
  <footer style="display: flex; flex-direction: row; justify-content: center; align-items: center; font-size: 12px; gap: 16px; margin-bottom: 16px;">
    <a href="index.html">Home</a>
    <a href="Teams.html">Teams</a>
    <a href="Schedule.html">Schedule</a>
    <a href="https://www.youtube.com/@istesaitbss">Youtube</a>
    <a href="https://www.instagram.com/istesa.itbss/p/C3jueuzuyZD/">Instagram</a>
  </footer>
</body>
</html>
