<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home - FriendList</title>
  <link rel="stylesheet" href="/fe/CSS/index.css">
  <link rel="stylesheet" href="/fe/JS/script.js">
</head>

<body>
  <div class="navbar">
    <a href="/login"><img src="/fe/Picture/valo.jpeg" alt="logo" width="50px" height="50px"></a>

    <div class="tombol">
      <a href="/fe/index.html">Home</a>
      <a href="/fe/Teams.html">Teams</a>
      <a href="/fe/Schedule.html">Schedulew</a>
      <a href="https://discord.gg/JQ87XBkq">Discord</a>
    </div>

    <div class="sosmed">
      <a href="https://www.instagram.com/istesa.itbss/p/C3jueuzuyZD/"><img src="/fe/Picture/Instagram.png" alt="Instagram" width="20px" height="20px"></a>
      <a href="https://www.youtube.com/@istesaitbss"><img src="/fe/Picture/youtube.png" alt="Youtube" width="25px" height="20px"></a>
    </div>
  </div>

  <div class="content">
    <div class="t-1">
      <h1>Welcome to Valorant ITBSS Esport</h1>
      <p class="t-1-1">"Welcome to ITBSS Valorant Devision. We are the ITBSS Valorant Team, digital warriors ready to face challenges and seize victory. Together, we prove that teamwork and skill are the ultimate keys to triumph. Join us on this journey, where every match is a step towards glory!"</p>
      
      <div class="about">
        <div class="about-logo">
          <img src="/fe/Picture/logo-1.png" alt="logo" width="80%" height="80%">
        </div>

        <div class="about-text">
          <h2>Welcome to FriendList!</h2>
          <div class="about-isi">
            <p><b style="color: lightblue">FriendList</b> is a media portal dedicated to promoting gaming culture and Valorant esport competitions among students.</p> 
            <p>It provides a variety of information about Valorant esport at the ITBSS campus, focusing on reporting various events, tournament updates, team profiles, and more.</p>
          </div>
        </div>
      </div>

      <div class="visi-misi">
        <div class="vision">
          <p><h2>FRIENDLIST Vision</h2></p>
          <p>To be the primary source of information and promotion for Valorant esport activities among students at the ITBSS campus.</p>
        </div>
        <p class="">
        <div class="mission">
          <p><h2>FRIENDLIST Mission</h2></p>
          <ul><p>
            <li>Providing up-to-date information about Valorant esport tournaments, events, and news within the campus environment.</li>
            <li>Supporting the coaching and development of student Valorant teams through team profiles, match analysis, and other means.</li>
            <li>Offering information on joining the Valorant esport community at the ITBSS campus.</li>
          </p></ul>
        </div>
        </p>
      </div>
    </div>
  </div>

  <hr>

  <footer>
      <a href="/fe/index.html">Home</a>
      <a href="/fe/Teams.html">Teams</a>
      <a href="/fe/Schedule.html">Schedule</a>
      <a href="https://www.youtube.com/@istesaitbss">Youtube</a>
      <a href="https://www.instagram.com/istesa.itbss/p/C3jueuzuyZD/">Instagram</a>
  </footer>
</body>
</html>
