.navbar{
    margin-left :10%;
    margin-right:10%;
    margin-top  :30px;
    display:flex;  
    align-items:center;
    justify-content: space-between;
}

.tombol a:hover {
    background-color: #ddd;
    color: grey;
}

.tombol a {
    color: white;
    text-align: center;
    padding: 30px;
    text-decoration: none;
    font-size: 17px;
}

.sosmed a{
    padding: 4px;
}

.t-1{
    margin-left: 20%;
    margin-top: 10%;
    margin-right: 20%;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
    font-stretch:expanded;
    min-height: 100vh;
}

.t-1 > h1{
    font-size: 50px;   
    letter-spacing: 2px;  
}

.t-1-1{
    font-size: 20px;
    margin-top: -3% ;
    margin-bottom: 20%;
    letter-spacing: 2px;
}

footer > a {
    color: grey;
    text-decoration: none;
}

footer > a:hover{
    color: yellow;
    text-decoration: dashed;
}

hr{
    width: 80%;
    border: none;
    height: 1px;
    background-color: grey;
    margin-top: 10%;
}

.bar{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2%;
    border: 2px solid grey;
    border-left: none;
    border-right: none;
    padding: 20px 20px;
    align-items: center;
    background-color: rgba(66, 64, 64, 0.364);
    font-size: 15px;
}

.bar2{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2%;
    padding: 20px 20px;
    align-items: center;
    font-size: 15px;
}

.score{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 250px;
}

.tengah{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}
.tengah-status{
    border: 5px solid green;
    border-radius: 100px;
    border-color: green;
    background-color: green;
    color: white;
    padding-left: 8px;
    padding-right: 8px;
    margin: 12px 0 12px 0;
}

.tengah-judul{
    font-size: 23px;
    text-decoration: none;
} 

.tengah-date{
    font-size: 13px;
}

.slot{
    width: 80%;
    background-color: #202020;
    height: auto;
    margin: 0 20% 0 20%;
    border: 1px solid #ddd;
}

.slot-1{
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
    border-bottom:2px solid gray;
    margin-bottom: 4px;
    margin: 0 10px 0 10px;
}

.left{
    display: flex;
    justify-content: space-between;
    width: 20%;
}

.right{
    display: flex;
    justify-content: space-between;
    width: 20%;
}

.slot-2{
    display: flex;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}

.agent{
    display: flex; 
    gap: 10px;
}

.hidden{
    display: none !important;
}

.popup{
    left: 0;
    top: 0;
    position: fixed;
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: #000000DD;
}

.popup-bar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #141414;
    width: 80%;
    border: 1px solid gray;
    border-radius: 15px;
    padding: 20px;
}

.titlebar{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.disable-scroll{
    height: 100%;
    overflow: hidden;
}

.score-flip{
    flex-direction: row-reverse;
}