

.navbar{
    margin-left :10%;
    margin-right:10%;
    margin-top  :30px;
    display:flex;  
    align-items:center;
    justify-content: space-between;
}


    .tombol a:hover {
    background-color: #ddd;
    color: grey;
}
    .tombol a {
    color: white;
    text-align: center;
    padding: 30px;
    text-decoration: none;
    font-size: 17px;
}

    .sosmed a{
    padding: 4px;
}

    .t-1{
        margin-left: 20%;
        margin-top: 10%;
        margin-right: 20%;
        text-decoration: none;
        font-family: sans-serif;
        font-weight: bold;
        font-stretch:expanded;
        min-height: 100vh;
}

    .t-1 > h1{
    font-size: 50px;   
    letter-spacing: 2px;  
}

    .t-1-1{
    font-size: 20px;
    margin-top: -3% ;
    margin-bottom: 20%;
    letter-spacing: 2px;

}
    footer > a {
    color: grey;
    text-decoration: none;
}
    footer > a:hover{
    color: yellow;
    text-decoration: dashed;
}
    hr{
    width: 80%;
    border: none;
    height: 1px;
    background-color: grey;
    margin-top: 10%;
}

    .gambar{
    display: flex;
    justify-content: space-around;
    border-radius: 5%;
    margin-bottom: 5%;
 
}
   .gambar img{
    width: 250px;
    height: 480px;
    border-image: round;
    border-radius: 5%;
    border: 1px solid lightgrey;
}
    .gambar-text{
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 1px;
    
}