/* Style utama */
body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
}

.content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.tombol a {
    color: white;
    text-align: center;
    padding: 30px;
    text-decoration: none;
    font-size: 17px;
}

.tombol a:hover {
    color: yellow;
    text-align: center;
    padding: 30px;
    text-decoration: none;
    font-size: 17px;
}

.t-1 {
    text-align: center;
    margin-bottom: 20px;
    min-height: 100vh;
}

.about {
    display: flex;
    align-items: center;
    margin-top: 20px; 
}

.about-logo {
    flex: 1;
    text-align: center;
}

.about-logo img {
    max-width: 100%;
    height: auto;
}

.about-text {
    flex: 2;
    padding: 0 20px;
    flex-direction: column; 
    display: flex; 
}

.visi-misi {
    margin-top: 40px;
    display: flex;
    
}

.vision, .mission {
    flex: 1;
    text-align: center;
}

.vision h2, .mission h2 {
    color: lightblue;
    margin-bottom: 10px;
}

.mission ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    gap: 16px;
    margin: 16px 0;
    
}


footer  a {
    color: grey;
    text-decoration: none;
    transition: color 0.3s ease;
    gap:20px;
}

footer  a:hover{
    color: yellow;
    text-decoration: dashed;
}
/* Media Queries untuk Responsif */
@media only screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .tombol {
        margin-top: 10px;
    }

    .sosmed {
        margin-top: 10px;
    }

    .content {
        padding: 10px;
    }

    .about {
        flex-direction: column;
        text-align: center;
    }

    .about-logo {
        margin-bottom: 20px;
    }

    .visi-misi {
        flex-direction: column;
        text-align: center;
    }

    .vision, .mission {
        margin-bottom: 20px;
    }
}
