
<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teams - FriendList</title>
    <link rel="stylesheet" href="CSS/Teams.css">
    <link rel="stylesheet" href="JS/animasi.js">

</head>

<body style="margin:0; padding: 0; background-color: black;color: white;">
  
<div class="navbar">
    <a href="Home.html"><img src="Picture/Valo.jpeg" alt="logo" width="50px" height="50px"></a>

    <div class="tombol">
      <a href="index.html">Home</a>
        <a href="Teams.html">Teams</a>
        <a href="Schedule.html">Schedule</a>
        <a href="https://discord.gg/JQ87XBkq">Discord</a>
    </div>

    <div class="sosmed">
      <a href="https://www.instagram.com/istesa.itbss/p/C3jueuzuyZD/"><img src="Picture/Instagram.png" alt="Instagram" width="20px" height="20px"></a>
      <a href="https://www.youtube.com/@istesaitbss"><img src="Picture/youtube.png" alt="Youtube" width="25px" height="20px"></a>
    </div>
</div>

<div class="t-1">
    <p><h1>FRIENDLIST</h1></p>
    <p class="t-1-1">OUR PLAYERS</p>

    <div class="gambar">
      <div class="gambar-text"><img src="Picture/pixelcut-export (1).jpeg" alt="agent">
        <br>N00bMaster69
        <br>Dennis hansen sutanto
      </div>
      <div class="gambar-text"><img src="Picture/pixelcut-export (1).png" alt="agent">
        <br>ShenPea
        <br>Andru
      </div>
      <div class="gambar-text"><img src="Picture/pixelcut-export (4).png" alt="agent">
        <br>Zux
        <br>Septian Arya Putra Salim
      </div>
    </div>
    <div class="gambar">
      <div class="gambar-text"><img src="Picture/pixelcut-export (5).png" alt="agent">
        <br>Spinach
        <br>Hazel Dixon
      </div>
      <div class="gambar-text"><img src="Picture/pixelcut-export (3).jpeg" alt="agent">
        <br>Amete
        <br>James Wijaya Gunawan
      </div>
      <div class="gambar-text"><img src="Picture/pixelcut-export (6).png" alt="agent">
        <br>RenXsa
        <br>Dustin Tiovino
      </div>
    </div>
</div>

<hr>
<footer style="display: flex; flex-direction: row; justify-content: center; align-items: center; font-size: 12px; gap: 16px; margin-bottom: 16px;">
  <a href="index.html">Home</a>
  <a href="Teams.html">Teams</a>
  <a href="Schedule.html">Schedule</a>
  <a href="https://www.youtube.com/@istesaitbss">Youtube</a>
  <a href="https://www.instagram.com/istesa.itbss/p/C3jueuzuyZD/">Instagram</a>
</footer>
</body>
</html>